USE [master]
GO
/****** Object:  Database [clinic]    Script Date: 15/04/2025 22:19:32 ******/
CREATE DATABASE [clinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'clinic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\clinic.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'clinic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\clinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [clinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [clinic]
GO
/****** Object:  User [anicolcl]    Script Date: 15/04/2025 22:19:32 ******/
CREATE USER [anicolcl] FOR LOGIN [anicolcl] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [anicolcl]
GO
ALTER ROLE [db_datareader] ADD MEMBER [anicolcl]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [anicolcl]
GO
/****** Object:  Table [dbo].[CLINIC_CITA]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINIC_CITA](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime2](7) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime2](7) NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime2](7) NULL,
	[DELETED_BY] [varchar](50) NULL,
	[PACIENTE_ID] [uniqueidentifier] NULL,
	[ESPECIALISTA_ID] [uniqueidentifier] NULL,
	[SERVICIO_ID] [uniqueidentifier] NULL,
	[PAGADO] [tinyint] NOT NULL,
	[HORA_FINAL] [datetime2](7) NOT NULL,
	[HORA_INICIO] [datetime2](7) NOT NULL,
	[DIA] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINIC_ESPECIALISTA]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINIC_ESPECIALISTA](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime2](7) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime2](7) NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime2](7) NULL,
	[DELETED_BY] [varchar](50) NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDOS] [varchar](50) NULL,
	[DNI] [varchar](9) NOT NULL,
	[ESPECIALIDAD] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINIC_EXPEDIENTE]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINIC_EXPEDIENTE](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime2](7) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime2](7) NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime2](7) NULL,
	[DELETED_BY] [varchar](50) NULL,
	[TITULO] [varchar](75) NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[ESPECIALISTA_ID] [uniqueidentifier] NULL,
	[PACIENTE_ID] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINIC_PACIENTE]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINIC_PACIENTE](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime2](7) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime2](7) NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime2](7) NULL,
	[DELETED_BY] [varchar](50) NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDOS] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[EDAD] [int] NULL,
	[DNI] [varchar](9) NOT NULL,
	[FECHA_NACIMIENTO] [datetime2](7) NULL,
	[DESCRIPCION] [varchar](max) NULL,
	[GENERO] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLINIC_SERVICIO]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLINIC_SERVICIO](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime2](7) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime2](7) NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime2](7) NULL,
	[DELETED_BY] [varchar](50) NULL,
	[DESCRIPCION] [varchar](255) NOT NULL,
	[ESPECIALIDAD] [varchar](50) NULL,
	[PRECIO] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ejemplo_libro]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ejemplo_libro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[autor] [varchar](255) NULL,
	[fecha_publicacion] [datetime2](6) NULL,
	[nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_CONSTRAINT]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_CONSTRAINT](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[CODE] [varchar](255) NULL,
	[CHECK_TYPE] [varchar](50) NULL,
	[OPERATION_TYPE] [varchar](50) NULL,
	[ENTITY_NAME] [varchar](255) NOT NULL,
	[JOIN_CLAUSE] [varchar](500) NULL,
	[WHERE_CLAUSE] [varchar](1000) NULL,
	[GROOVY_SCRIPT] [varchar](max) NULL,
	[FILTER_XML] [varchar](max) NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[GROUP_ID] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_CONSTRAINT_GROUP]    Script Date: 15/04/2025 22:19:32 ******/
CREATE CLUSTERED INDEX [IDX_SEC_CONSTRAINT_GROUP] ON [dbo].[SEC_CONSTRAINT]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_ENTITY_LOG]    Script Date: 15/04/2025 22:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_ENTITY_LOG](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[EVENT_TS] [datetime] NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[CHANGE_TYPE] [char](1) NULL,
	[ENTITY] [varchar](100) NULL,
	[ENTITY_INSTANCE_NAME] [varchar](1000) NULL,
	[ENTITY_ID] [uniqueidentifier] NULL,
	[STRING_ENTITY_ID] [varchar](255) NULL,
	[INT_ENTITY_ID] [int] NULL,
	[LONG_ENTITY_ID] [bigint] NULL,
	[CHANGES] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_ENTITY_LOG_EVENT_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_ENTITY_LOG_EVENT_TS] ON [dbo].[SEC_ENTITY_LOG]
(
	[EVENT_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_FILTER]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_FILTER](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[COMPONENT] [varchar](200) NULL,
	[NAME] [varchar](255) NULL,
	[CODE] [varchar](200) NULL,
	[XML] [varchar](max) NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[GLOBAL_DEFAULT] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_FILTER_COMPONENT_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_FILTER_COMPONENT_USER] ON [dbo].[SEC_FILTER]
(
	[COMPONENT] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_GROUP]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_GROUP](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[NAME] [varchar](255) NOT NULL,
	[PARENT_ID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_GROUP_HIERARCHY]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_GROUP_HIERARCHY](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[GROUP_ID] [uniqueidentifier] NULL,
	[PARENT_ID] [uniqueidentifier] NULL,
	[HIERARCHY_LEVEL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_GROUP_HIERARCHY_GROUP_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_GROUP_HIERARCHY_GROUP_ID] ON [dbo].[SEC_GROUP_HIERARCHY]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_LOCALIZED_CONSTRAINT_MSG]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_LOCALIZED_CONSTRAINT_MSG](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[ENTITY_NAME] [varchar](255) NOT NULL,
	[OPERATION_TYPE] [varchar](50) NOT NULL,
	[VALUES_] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_LOGGED_ATTR]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_LOGGED_ATTR](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[ENTITY_ID] [uniqueidentifier] NULL,
	[NAME] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_LOGGED_ATTR_ENTITY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_LOGGED_ATTR_ENTITY] ON [dbo].[SEC_LOGGED_ATTR]
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_LOGGED_ENTITY]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_LOGGED_ENTITY](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[NAME] [varchar](100) NULL,
	[AUTO] [tinyint] NULL,
	[MANUAL] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_PERMISSION]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_PERMISSION](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[PERMISSION_TYPE] [int] NULL,
	[TARGET] [varchar](100) NULL,
	[VALUE_] [int] NULL,
	[ROLE_ID] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_PERMISSION_ROLE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_PERMISSION_ROLE] ON [dbo].[SEC_PERMISSION]
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_PRESENTATION]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_PRESENTATION](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[COMPONENT] [varchar](200) NULL,
	[NAME] [varchar](255) NULL,
	[XML] [varchar](7000) NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[IS_AUTO_SAVE] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_PRESENTATION_COMPONENT_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_PRESENTATION_COMPONENT_USER] ON [dbo].[SEC_PRESENTATION]
(
	[COMPONENT] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_REMEMBER_ME]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_REMEMBER_ME](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[USER_ID] [uniqueidentifier] NOT NULL,
	[TOKEN] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_ROLE]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_ROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[NAME] [varchar](255) NOT NULL,
	[LOC_NAME] [varchar](255) NULL,
	[DESCRIPTION] [varchar](1000) NULL,
	[IS_DEFAULT_ROLE] [tinyint] NULL,
	[ROLE_TYPE] [int] NULL,
	[SECURITY_SCOPE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_SCREEN_HISTORY]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_SCREEN_HISTORY](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[CAPTION] [varchar](255) NULL,
	[URL] [varchar](max) NULL,
	[ENTITY_ID] [uniqueidentifier] NULL,
	[STRING_ENTITY_ID] [varchar](255) NULL,
	[INT_ENTITY_ID] [int] NULL,
	[LONG_ENTITY_ID] [bigint] NULL,
	[SUBSTITUTED_USER_ID] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SCREEN_HISTORY_CREATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_SCREEN_HISTORY_CREATE_TS] ON [dbo].[SEC_SCREEN_HISTORY]
(
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_SEARCH_FOLDER]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_SEARCH_FOLDER](
	[FOLDER_ID] [uniqueidentifier] NOT NULL,
	[FILTER_COMPONENT] [varchar](200) NULL,
	[FILTER_XML] [varchar](7000) NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[PRESENTATION_ID] [uniqueidentifier] NULL,
	[APPLY_DEFAULT] [tinyint] NULL,
	[IS_SET] [tinyint] NULL,
	[ENTITY_TYPE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FOLDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_SESSION_ATTR]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_SESSION_ATTR](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[NAME] [varchar](50) NULL,
	[STR_VALUE] [varchar](1000) NULL,
	[DATATYPE] [varchar](20) NULL,
	[GROUP_ID] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SESSION_ATTR_GROUP]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_SESSION_ATTR_GROUP] ON [dbo].[SEC_SESSION_ATTR]
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_SESSION_LOG]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_SESSION_LOG](
	[ID] [uniqueidentifier] NOT NULL,
	[VERSION] [int] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[SESSION_ID] [uniqueidentifier] NOT NULL,
	[USER_ID] [uniqueidentifier] NOT NULL,
	[SUBSTITUTED_USER_ID] [uniqueidentifier] NULL,
	[USER_DATA] [varchar](max) NULL,
	[LAST_ACTION] [int] NOT NULL,
	[CLIENT_INFO] [varchar](512) NULL,
	[CLIENT_TYPE] [varchar](10) NULL,
	[ADDRESS] [varchar](255) NULL,
	[STARTED_TS] [datetime] NULL,
	[FINISHED_TS] [datetime] NULL,
	[SERVER_ID] [varchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_USER]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_USER](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[LOGIN] [varchar](50) NOT NULL,
	[LOGIN_LC] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](255) NULL,
	[PASSWORD_ENCRYPTION] [varchar](50) NULL,
	[NAME] [varchar](255) NULL,
	[FIRST_NAME] [varchar](255) NULL,
	[LAST_NAME] [varchar](255) NULL,
	[MIDDLE_NAME] [varchar](255) NULL,
	[POSITION_] [varchar](255) NULL,
	[EMAIL] [varchar](100) NULL,
	[LANGUAGE_] [varchar](20) NULL,
	[TIME_ZONE] [varchar](50) NULL,
	[TIME_ZONE_AUTO] [tinyint] NULL,
	[ACTIVE] [tinyint] NULL,
	[GROUP_ID] [uniqueidentifier] NULL,
	[GROUP_NAMES] [varchar](255) NULL,
	[IP_MASK] [varchar](200) NULL,
	[CHANGE_PASSWORD_AT_LOGON] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_USER_LOGIN]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_USER_LOGIN] ON [dbo].[SEC_USER]
(
	[LOGIN_LC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_USER_ROLE]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_USER_ROLE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[ROLE_ID] [uniqueidentifier] NULL,
	[ROLE_NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_USER_ROLE_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_USER_ROLE_USER] ON [dbo].[SEC_USER_ROLE]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_USER_SETTING]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_USER_SETTING](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[USER_ID] [uniqueidentifier] NULL,
	[CLIENT_TYPE] [char](1) NULL,
	[NAME] [varchar](255) NULL,
	[VALUE_] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_USER_SETTING_CREATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_USER_SETTING_CREATE_TS] ON [dbo].[SEC_USER_SETTING]
(
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_USER_SUBSTITUTION]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_USER_SUBSTITUTION](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[USER_ID] [uniqueidentifier] NOT NULL,
	[SUBSTITUTED_USER_ID] [uniqueidentifier] NOT NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_USER_SUBSTITUTION_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SEC_USER_SUBSTITUTION_USER] ON [dbo].[SEC_USER_SUBSTITUTION]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_APP_FOLDER]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_FOLDER](
	[FOLDER_ID] [uniqueidentifier] NOT NULL,
	[FILTER_COMPONENT] [varchar](200) NULL,
	[FILTER_XML] [varchar](7000) NULL,
	[VISIBILITY_SCRIPT] [varchar](max) NULL,
	[QUANTITY_SCRIPT] [varchar](max) NULL,
	[APPLY_DEFAULT] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[FOLDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ATTR_VALUE]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ATTR_VALUE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[CATEGORY_ATTR_ID] [uniqueidentifier] NOT NULL,
	[ENTITY_ID] [uniqueidentifier] NULL,
	[STRING_ENTITY_ID] [varchar](255) NULL,
	[INT_ENTITY_ID] [int] NULL,
	[LONG_ENTITY_ID] [bigint] NULL,
	[STRING_VALUE] [varchar](max) NULL,
	[INTEGER_VALUE] [int] NULL,
	[DOUBLE_VALUE] [numeric](36, 6) NULL,
	[DECIMAL_VALUE] [numeric](36, 10) NULL,
	[DATE_VALUE] [datetime] NULL,
	[DATE_WO_TIME_VALUE] [datetime] NULL,
	[BOOLEAN_VALUE] [tinyint] NULL,
	[ENTITY_VALUE] [uniqueidentifier] NULL,
	[STRING_ENTITY_VALUE] [varchar](255) NULL,
	[INT_ENTITY_VALUE] [int] NULL,
	[LONG_ENTITY_VALUE] [bigint] NULL,
	[CODE] [varchar](255) NOT NULL,
	[PARENT_ID] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_ATTR_VALUE_ENTITY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_ATTR_VALUE_ENTITY] ON [dbo].[SYS_ATTR_VALUE]
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CATEGORY]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CATEGORY](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[NAME] [varchar](255) NOT NULL,
	[SPECIAL] [varchar](50) NULL,
	[ENTITY_TYPE] [varchar](100) NOT NULL,
	[IS_DEFAULT] [tinyint] NULL,
	[DISCRIMINATOR] [int] NULL,
	[LOCALE_NAMES] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CATEGORY_ATTR]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CATEGORY_ATTR](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[CATEGORY_ENTITY_TYPE] [varchar](4000) NULL,
	[NAME] [varchar](255) NULL,
	[CODE] [varchar](255) NOT NULL,
	[DESCRIPTION] [varchar](1000) NULL,
	[CATEGORY_ID] [uniqueidentifier] NOT NULL,
	[ENTITY_CLASS] [varchar](500) NULL,
	[DATA_TYPE] [varchar](200) NULL,
	[DEFAULT_STRING] [varchar](max) NULL,
	[DEFAULT_INT] [int] NULL,
	[DEFAULT_DOUBLE] [numeric](36, 6) NULL,
	[DEFAULT_DECIMAL] [numeric](36, 10) NULL,
	[DEFAULT_DATE] [datetime] NULL,
	[DEFAULT_DATE_WO_TIME] [datetime] NULL,
	[DEFAULT_DATE_IS_CURRENT] [tinyint] NULL,
	[DEFAULT_BOOLEAN] [tinyint] NULL,
	[DEFAULT_ENTITY_VALUE] [uniqueidentifier] NULL,
	[DEFAULT_STR_ENTITY_VALUE] [varchar](255) NULL,
	[DEFAULT_INT_ENTITY_VALUE] [int] NULL,
	[DEFAULT_LONG_ENTITY_VALUE] [bigint] NULL,
	[ENUMERATION] [varchar](500) NULL,
	[ORDER_NO] [int] NULL,
	[SCREEN] [varchar](255) NULL,
	[REQUIRED] [tinyint] NULL,
	[LOOKUP] [tinyint] NULL,
	[TARGET_SCREENS] [varchar](4000) NULL,
	[WIDTH] [varchar](20) NULL,
	[ROWS_COUNT] [int] NULL,
	[IS_COLLECTION] [tinyint] NULL,
	[JOIN_CLAUSE] [varchar](4000) NULL,
	[WHERE_CLAUSE] [varchar](4000) NULL,
	[FILTER_XML] [varchar](max) NULL,
	[LOCALE_NAMES] [varchar](1000) NULL,
	[LOCALE_DESCRIPTIONS] [varchar](4000) NULL,
	[ENUMERATION_LOCALES] [varchar](5000) NULL,
	[ATTRIBUTE_CONFIGURATION_JSON] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_CATEGORY_ATTR_CATEGORY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_CATEGORY_ATTR_CATEGORY] ON [dbo].[SYS_CATEGORY_ATTR]
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CONFIG]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CONFIG](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[NAME] [varchar](255) NOT NULL,
	[VALUE_] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_CONFIG_UNIQ_NAME]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX_SYS_CONFIG_UNIQ_NAME] ON [dbo].[SYS_CONFIG]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_DB_CHANGELOG]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DB_CHANGELOG](
	[SCRIPT_NAME] [varchar](300) NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[IS_INIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SCRIPT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ENTITY_SNAPSHOT]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ENTITY_SNAPSHOT](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[ENTITY_META_CLASS] [varchar](50) NOT NULL,
	[ENTITY_ID] [uniqueidentifier] NULL,
	[STRING_ENTITY_ID] [varchar](255) NULL,
	[INT_ENTITY_ID] [int] NULL,
	[LONG_ENTITY_ID] [bigint] NULL,
	[AUTHOR_ID] [uniqueidentifier] NOT NULL,
	[VIEW_XML] [varchar](max) NOT NULL,
	[SNAPSHOT_XML] [varchar](max) NOT NULL,
	[SNAPSHOT_DATE] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_ENTITY_SNAPSHOT_CREATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_ENTITY_SNAPSHOT_CREATE_TS] ON [dbo].[SYS_ENTITY_SNAPSHOT]
(
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_ENTITY_STATISTICS]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ENTITY_STATISTICS](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[NAME] [varchar](50) NULL,
	[INSTANCE_COUNT] [bigint] NULL,
	[FETCH_UI] [int] NULL,
	[MAX_FETCH_UI] [int] NULL,
	[LAZY_COLLECTION_THRESHOLD] [int] NULL,
	[LOOKUP_SCREEN_THRESHOLD] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_ENTITY_STATISTICS_UNIQ_NAME]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX_SYS_ENTITY_STATISTICS_UNIQ_NAME] ON [dbo].[SYS_ENTITY_STATISTICS]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_FILE]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_FILE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[NAME] [varchar](500) NOT NULL,
	[EXT] [varchar](20) NULL,
	[FILE_SIZE] [bigint] NULL,
	[CREATE_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_FILE_CREATE_DATE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_FILE_CREATE_DATE] ON [dbo].[SYS_FILE]
(
	[CREATE_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_FOLDER]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_FOLDER](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[FOLDER_TYPE] [char](1) NULL,
	[PARENT_ID] [uniqueidentifier] NULL,
	[NAME] [varchar](100) NULL,
	[TAB_NAME] [varchar](100) NULL,
	[SORT_ORDER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_FTS_QUEUE]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_FTS_QUEUE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[ENTITY_ID] [uniqueidentifier] NULL,
	[STRING_ENTITY_ID] [varchar](255) NULL,
	[INT_ENTITY_ID] [int] NULL,
	[LONG_ENTITY_ID] [bigint] NULL,
	[ENTITY_NAME] [varchar](200) NULL,
	[CHANGE_TYPE] [char](1) NULL,
	[SOURCE_HOST] [varchar](255) NULL,
	[INDEXING_HOST] [varchar](255) NULL,
	[FAKE] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_FTS_QUEUE_CREATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_FTS_QUEUE_CREATE_TS] ON [dbo].[SYS_FTS_QUEUE]
(
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_JMX_INSTANCE]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_JMX_INSTANCE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[NODE_NAME] [varchar](255) NULL,
	[ADDRESS] [varchar](500) NOT NULL,
	[LOGIN] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_LOCK_CONFIG]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_LOCK_CONFIG](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[NAME] [varchar](100) NULL,
	[TIMEOUT_SEC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_QUERY_RESULT]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_QUERY_RESULT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SESSION_ID] [uniqueidentifier] NOT NULL,
	[QUERY_KEY] [int] NOT NULL,
	[ENTITY_ID] [uniqueidentifier] NULL,
	[STRING_ENTITY_ID] [varchar](255) NULL,
	[INT_ENTITY_ID] [int] NULL,
	[LONG_ENTITY_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_SCHEDULED_EXECUTION]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SCHEDULED_EXECUTION](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[TASK_ID] [uniqueidentifier] NULL,
	[SERVER] [varchar](512) NULL,
	[START_TIME] [datetime] NULL,
	[FINISH_TIME] [datetime] NULL,
	[RESULT] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SCHEDULED_EXECUTION_CREATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_SCHEDULED_EXECUTION_CREATE_TS] ON [dbo].[SYS_SCHEDULED_EXECUTION]
(
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_SCHEDULED_TASK]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SCHEDULED_TASK](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[DEFINED_BY] [varchar](1) NULL,
	[CLASS_NAME] [varchar](500) NULL,
	[SCRIPT_NAME] [varchar](500) NULL,
	[BEAN_NAME] [varchar](50) NULL,
	[METHOD_NAME] [varchar](50) NULL,
	[METHOD_PARAMS] [varchar](4000) NULL,
	[USER_NAME] [varchar](50) NULL,
	[IS_SINGLETON] [tinyint] NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[PERIOD_] [int] NULL,
	[TIMEOUT] [int] NULL,
	[START_DATE] [datetime] NULL,
	[TIME_FRAME] [int] NULL,
	[START_DELAY] [int] NULL,
	[PERMITTED_SERVERS] [varchar](4096) NULL,
	[LOG_START] [tinyint] NULL,
	[LOG_FINISH] [tinyint] NULL,
	[LAST_START_TIME] [datetime] NULL,
	[LAST_START_SERVER] [varchar](512) NULL,
	[DESCRIPTION] [varchar](1000) NULL,
	[CRON] [varchar](100) NULL,
	[SCHEDULING_TYPE] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_SENDING_ATTACHMENT]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SENDING_ATTACHMENT](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[MESSAGE_ID] [uniqueidentifier] NULL,
	[CONTENT] [image] NULL,
	[CONTENT_FILE_ID] [uniqueidentifier] NULL,
	[CONTENT_ID] [varchar](50) NULL,
	[NAME] [varchar](500) NULL,
	[DISPOSITION] [varchar](50) NULL,
	[TEXT_ENCODING] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SENDING_ATTACHMENT_CREATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_SENDING_ATTACHMENT_CREATE_TS] ON [dbo].[SYS_SENDING_ATTACHMENT]
(
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_SENDING_MESSAGE]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SENDING_MESSAGE](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETE_TS] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[SYS_TENANT_ID] [varchar](255) NULL,
	[ADDRESS_TO] [varchar](max) NULL,
	[ADDRESS_CC] [varchar](max) NULL,
	[ADDRESS_BCC] [varchar](max) NULL,
	[ADDRESS_FROM] [varchar](100) NULL,
	[CAPTION] [varchar](500) NULL,
	[EMAIL_HEADERS] [varchar](500) NULL,
	[CONTENT_TEXT] [varchar](max) NULL,
	[CONTENT_TEXT_FILE_ID] [uniqueidentifier] NULL,
	[DEADLINE] [datetime] NULL,
	[STATUS] [int] NULL,
	[DATE_SENT] [datetime] NULL,
	[ATTEMPTS_COUNT] [int] NULL,
	[ATTEMPTS_MADE] [int] NULL,
	[ATTACHMENTS_NAME] [varchar](max) NULL,
	[BODY_CONTENT_TYPE] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SENDING_MESSAGE_CREATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE CLUSTERED INDEX [IDX_SYS_SENDING_MESSAGE_CREATE_TS] ON [dbo].[SYS_SENDING_MESSAGE]
(
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_SERVER]    Script Date: 15/04/2025 22:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SERVER](
	[ID] [uniqueidentifier] NOT NULL,
	[CREATE_TS] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATE_TS] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[NAME] [varchar](255) NULL,
	[IS_RUNNING] [tinyint] NULL,
	[DATA] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_SERVER_UNIQ_NAME]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE CLUSTERED INDEX [IDX_SYS_SERVER_UNIQ_NAME] ON [dbo].[SYS_SERVER]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
INSERT [dbo].[CLINIC_ESPECIALISTA] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [NOMBRE], [APELLIDOS], [DNI], [ESPECIALIDAD]) VALUES (N'72495d52-71b5-560d-71f1-f686e54d8921', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'Juan', N'Pérez García', N'12345678A', N'PSICOLOGIA')
INSERT [dbo].[CLINIC_ESPECIALISTA] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [NOMBRE], [APELLIDOS], [DNI], [ESPECIALIDAD]) VALUES (N'82495d52-71b5-560d-71f1-f686e54d8922', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'María', N'Gómez López', N'23456789B', N'NUTRICION')
INSERT [dbo].[CLINIC_ESPECIALISTA] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [NOMBRE], [APELLIDOS], [DNI], [ESPECIALIDAD]) VALUES (N'92495d52-71b5-560d-71f1-f686e54d8923', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'Carlos', N'López Martínez', N'34567890C', N'PODOLOGIA')
GO
INSERT [dbo].[CLINIC_PACIENTE] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [NOMBRE], [APELLIDOS], [EMAIL], [EDAD], [DNI], [FECHA_NACIMIENTO], [DESCRIPCION], [GENERO]) VALUES (N'72495d52-71b5-560d-71f1-f686e54d8921', 1, CAST(N'2025-04-07T11:40:08.9970000' AS DateTime2), N'admin', CAST(N'2025-04-07T11:40:08.9970000' AS DateTime2), NULL, NULL, NULL, N'Álvaro', N'Nicolás Climent', N'alvaro@test.com', 30, N'48763539C', CAST(N'1995-02-09T00:00:00.0000000' AS DateTime2), NULL, N'HOMBRE')
INSERT [dbo].[CLINIC_PACIENTE] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [NOMBRE], [APELLIDOS], [EMAIL], [EDAD], [DNI], [FECHA_NACIMIENTO], [DESCRIPCION], [GENERO]) VALUES (N'd2495d52-71b5-560d-71f1-f686e54d8927', 2, NULL, NULL, NULL, NULL, CAST(N'2025-04-08T16:35:15.9790000' AS DateTime2), N'admin', N'Pedro', N'García López', N'pedro@example.com', 30, N'78901234G', CAST(N'1995-01-01T00:00:00.0000000' AS DateTime2), N'Paciente con historial de alergias', N'HOMBRE')
INSERT [dbo].[CLINIC_PACIENTE] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [NOMBRE], [APELLIDOS], [EMAIL], [EDAD], [DNI], [FECHA_NACIMIENTO], [DESCRIPCION], [GENERO]) VALUES (N'e2495d52-71b5-560d-71f1-f686e54d8928', 2, NULL, NULL, NULL, NULL, CAST(N'2025-04-08T16:35:18.4040000' AS DateTime2), N'admin', N'Lucía', N'Sánchez Martínez', N'lucia@example.com', 25, N'89012345H', CAST(N'2000-02-02T00:00:00.0000000' AS DateTime2), N'Paciente con historial de asma', N'MUJER')
GO
INSERT [dbo].[CLINIC_SERVICIO] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [DESCRIPCION], [ESPECIALIDAD], [PRECIO]) VALUES (N'4acb1544-07ac-e54e-d5b5-cfa7a2ff7b7a', 2, CAST(N'2025-04-07T12:34:00.1570000' AS DateTime2), N'admin', CAST(N'2025-04-08T16:43:59.3910000' AS DateTime2), N'admin', NULL, NULL, N'Primera consulta', N'PSICOLOGIA', 40)
INSERT [dbo].[CLINIC_SERVICIO] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [DESCRIPCION], [ESPECIALIDAD], [PRECIO]) VALUES (N'a958e5d7-0b14-ce18-a6f7-4b4b72f788b8', 2, CAST(N'2025-04-07T12:34:20.2020000' AS DateTime2), N'admin', CAST(N'2025-04-07T12:34:20.2020000' AS DateTime2), NULL, CAST(N'2025-04-08T16:43:54.8830000' AS DateTime2), N'admin', N'Consulta regular', N'PSICOLOGIA', 55)
INSERT [dbo].[CLINIC_SERVICIO] ([ID], [VERSION], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [DESCRIPCION], [ESPECIALIDAD], [PRECIO]) VALUES (N'550e8400-e29b-41d4-a716-446655440100', 1, NULL, NULL, NULL, NULL, NULL, NULL, N'Consulta de Psicología', N'PSICOLOGIA', 50)
GO
INSERT [dbo].[SEC_GROUP] ([ID], [CREATE_TS], [CREATED_BY], [VERSION], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [SYS_TENANT_ID], [NAME], [PARENT_ID]) VALUES (N'0fa2b1a5-1d68-4d69-9fbd-dff348347f93', CAST(N'2025-04-04T15:49:57.587' AS DateTime), NULL, 0, NULL, NULL, NULL, NULL, NULL, N'Company', NULL)
GO
INSERT [dbo].[SEC_SCREEN_HISTORY] ([ID], [CREATE_TS], [CREATED_BY], [SYS_TENANT_ID], [USER_ID], [CAPTION], [URL], [ENTITY_ID], [STRING_ENTITY_ID], [INT_ENTITY_ID], [LONG_ENTITY_ID], [SUBSTITUTED_USER_ID]) VALUES (N'48f497a6-399c-41b8-13f5-50e036888e80', CAST(N'2025-04-09T20:07:09.683' AS DateTime), N'admin', NULL, N'60885987-1b61-4247-94c7-dff348347f93', N'New User', N'http://localhost:8080/app/open?screen=sec$User.edit&item=sec$User-466f7acb-f636-2f02-d3eb-3f7ad79d1d99&params=item:sec$User-466f7acb-f636-2f02-d3eb-3f7ad79d1d99', N'466f7acb-f636-2f02-d3eb-3f7ad79d1d99', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[SEC_USER_ROLE] ([ID], [CREATE_TS], [CREATED_BY], [VERSION], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [USER_ID], [ROLE_ID], [ROLE_NAME]) VALUES (N'7af24947-e1d2-1a18-1353-6e274b1ca3f0', CAST(N'2025-04-09T20:07:09.600' AS DateTime), N'admin', 2, CAST(N'2025-04-09T20:07:09.600' AS DateTime), NULL, CAST(N'2025-04-09T20:07:50.993' AS DateTime), N'admin', N'466f7acb-f636-2f02-d3eb-3f7ad79d1d99', NULL, N'system-minimal')
INSERT [dbo].[SEC_USER_ROLE] ([ID], [CREATE_TS], [CREATED_BY], [VERSION], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [USER_ID], [ROLE_ID], [ROLE_NAME]) VALUES (N'8e926f1c-26e0-2f63-1ee7-d9edcb07377b', CAST(N'2025-04-09T20:07:09.600' AS DateTime), N'admin', 1, CAST(N'2025-04-09T20:07:09.600' AS DateTime), NULL, NULL, NULL, N'466f7acb-f636-2f02-d3eb-3f7ad79d1d99', NULL, N'system-full-access')
INSERT [dbo].[SEC_USER_ROLE] ([ID], [CREATE_TS], [CREATED_BY], [VERSION], [UPDATE_TS], [UPDATED_BY], [DELETE_TS], [DELETED_BY], [USER_ID], [ROLE_ID], [ROLE_NAME]) VALUES (N'6736effb-9dfc-4430-973a-69868606b09c', CAST(N'2025-04-04T15:49:57.607' AS DateTime), NULL, 0, NULL, NULL, NULL, NULL, N'60885987-1b61-4247-94c7-dff348347f93', NULL, N'system-full-access')
GO
INSERT [dbo].[SYS_CONFIG] ([ID], [CREATE_TS], [CREATED_BY], [VERSION], [UPDATE_TS], [UPDATED_BY], [NAME], [VALUE_]) VALUES (N'bb4930fe-e81e-8d06-f936-a4234555a0d9', CAST(N'2025-04-15T15:56:03.837' AS DateTime), N'admin', 1, CAST(N'2025-04-15T15:56:03.837' AS DateTime), NULL, N'URL-CITAS', N'http://localhost:8081/api/rest')
GO
INSERT [dbo].[SYS_DB_CHANGELOG] ([SCRIPT_NAME], [CREATE_TS], [IS_INIT]) VALUES (N'10-cuba/init/mssql/create-db.sql', CAST(N'2025-04-04T15:50:02.600' AS DateTime), 1)
INSERT [dbo].[SYS_DB_CHANGELOG] ([SCRIPT_NAME], [CREATE_TS], [IS_INIT]) VALUES (N'10-cuba/update/mssql/02/02-100-entitySnapshotAuthor.sql', CAST(N'2025-04-04T15:50:02.623' AS DateTime), 1)
INSERT [dbo].[SYS_DB_CHANGELOG] ([SCRIPT_NAME], [CREATE_TS], [IS_INIT]) VALUES (N'10-cuba/update/mssql/02/02-110-addUserDescriminator.sql', CAST(N'2025-04-04T15:50:02.630' AS DateTime), 1)
GO
INSERT [dbo].[SYS_SERVER] ([ID], [CREATE_TS], [CREATED_BY], [UPDATE_TS], [UPDATED_BY], [NAME], [IS_RUNNING], [DATA]) VALUES (N'05ac8192-8bf0-26fc-62c9-e0e89a22403f', CAST(N'2025-04-04T15:52:24.317' AS DateTime), NULL, CAST(N'2025-04-15T22:19:31.677' AS DateTime), NULL, N'localhost:8080/app-core', 1, NULL)
GO
/****** Object:  Index [PK__CLINIC_C__3214EC2628D76B4D]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[CLINIC_CITA] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CLINIC_CITA_ON_ESPECIALISTA]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_CLINIC_CITA_ON_ESPECIALISTA] ON [dbo].[CLINIC_CITA]
(
	[ESPECIALISTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CLINIC_CITA_ON_PACIENTE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_CLINIC_CITA_ON_PACIENTE] ON [dbo].[CLINIC_CITA]
(
	[PACIENTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CLINIC_CITA_ON_SERVICIO]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_CLINIC_CITA_ON_SERVICIO] ON [dbo].[CLINIC_CITA]
(
	[SERVICIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__CLINIC_E__3214EC263EC57B9E]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[CLINIC_ESPECIALISTA] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CLINIC_ESPECIALISTA_UNIQ_DNI]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_CLINIC_ESPECIALISTA_UNIQ_DNI] ON [dbo].[CLINIC_ESPECIALISTA]
(
	[DNI] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__CLINIC_E__3214EC26C978D39F]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[CLINIC_EXPEDIENTE] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CLINIC_EXPEDIENTE_ON_ESPECIALISTA]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_CLINIC_EXPEDIENTE_ON_ESPECIALISTA] ON [dbo].[CLINIC_EXPEDIENTE]
(
	[ESPECIALISTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_CLINIC_EXPEDIENTE_ON_PACIENTE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_CLINIC_EXPEDIENTE_ON_PACIENTE] ON [dbo].[CLINIC_EXPEDIENTE]
(
	[PACIENTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__CLINIC_P__3214EC26BC309153]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[CLINIC_PACIENTE] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CLINIC_PACIENTE_UNIQ_DNI]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_CLINIC_PACIENTE_UNIQ_DNI] ON [dbo].[CLINIC_PACIENTE]
(
	[DNI] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__CLINIC_S__3214EC26435F6D2F]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[CLINIC_SERVICIO] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_CONS__3214EC263DC92FF4]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_CONSTRAINT] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_ENTI__3214EC26D25B93A8]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_ENTITY_LOG] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_ENTITY_LOG_ENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_ENTITY_LOG_ENTITY_ID] ON [dbo].[SEC_ENTITY_LOG]
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_ENTITY_LOG_IENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_ENTITY_LOG_IENTITY_ID] ON [dbo].[SEC_ENTITY_LOG]
(
	[INT_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_ENTITY_LOG_LENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_ENTITY_LOG_LENTITY_ID] ON [dbo].[SEC_ENTITY_LOG]
(
	[LONG_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_ENTITY_LOG_SENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_ENTITY_LOG_SENTITY_ID] ON [dbo].[SEC_ENTITY_LOG]
(
	[STRING_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_FILT__3214EC26C13D6F30]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_FILTER] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_GROUP_UNIQ_NAME]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SEC_GROUP_UNIQ_NAME] ON [dbo].[SEC_GROUP]
(
	[NAME] ASC,
	[SYS_TENANT_ID] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_GROU__3214EC261FE5E6EC]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_GROUP_HIERARCHY] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_LOC_CNSTRNT_MSG_UNIQUE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SEC_LOC_CNSTRNT_MSG_UNIQUE] ON [dbo].[SEC_LOCALIZED_CONSTRAINT_MSG]
(
	[ENTITY_NAME] ASC,
	[OPERATION_TYPE] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_LOGG__3214EC26A66350B7]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_LOGGED_ATTR] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SEC_LOGGED_ATTR_UNIQ_NAME]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_LOGGED_ATTR] ADD  CONSTRAINT [SEC_LOGGED_ATTR_UNIQ_NAME] UNIQUE NONCLUSTERED 
(
	[ENTITY_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SEC_LOGGED_ENTITY_UNIQ_NAME]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_LOGGED_ENTITY] ADD  CONSTRAINT [SEC_LOGGED_ENTITY_UNIQ_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_PERM__3214EC2651F5B5E7]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_PERMISSION] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_PERMISSION_UNIQUE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SEC_PERMISSION_UNIQUE] ON [dbo].[SEC_PERMISSION]
(
	[ROLE_ID] ASC,
	[PERMISSION_TYPE] ASC,
	[TARGET] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_PRES__3214EC263C909A45]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_PRESENTATION] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_REMEMBER_ME_TOKEN]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_REMEMBER_ME_TOKEN] ON [dbo].[SEC_REMEMBER_ME]
(
	[TOKEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_REMEMBER_ME_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_REMEMBER_ME_USER] ON [dbo].[SEC_REMEMBER_ME]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_ROLE_UNIQ_NAME]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SEC_ROLE_UNIQ_NAME] ON [dbo].[SEC_ROLE]
(
	[NAME] ASC,
	[SYS_TENANT_ID] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_SCRE__3214EC262847C751]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_SCREEN_HISTORY] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SCREEN_HIST_SUB_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_SCREEN_HIST_SUB_USER] ON [dbo].[SEC_SCREEN_HISTORY]
(
	[SUBSTITUTED_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SCREEN_HISTORY_ENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_SCREEN_HISTORY_ENTITY_ID] ON [dbo].[SEC_SCREEN_HISTORY]
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SCREEN_HISTORY_IENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_SCREEN_HISTORY_IENTITY_ID] ON [dbo].[SEC_SCREEN_HISTORY]
(
	[INT_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SCREEN_HISTORY_LENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_SCREEN_HISTORY_LENTITY_ID] ON [dbo].[SEC_SCREEN_HISTORY]
(
	[LONG_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_SCREEN_HISTORY_SENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_SCREEN_HISTORY_SENTITY_ID] ON [dbo].[SEC_SCREEN_HISTORY]
(
	[STRING_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SCREEN_HISTORY_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_SCREEN_HISTORY_USER] ON [dbo].[SEC_SCREEN_HISTORY]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SEC_SEARCH_FOLDER_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SEC_SEARCH_FOLDER_USER] ON [dbo].[SEC_SEARCH_FOLDER]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_SESS__3214EC26376FD7B9]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_SESSION_ATTR] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SESSION_LOG_ENTRY_SESSION]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SESSION_LOG_ENTRY_SESSION] ON [dbo].[SEC_SESSION_LOG]
(
	[SESSION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SESSION_LOG_ENTRY_SUBUSER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SESSION_LOG_ENTRY_SUBUSER] ON [dbo].[SEC_SESSION_LOG]
(
	[SUBSTITUTED_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SESSION_LOG_ENTRY_USER]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SESSION_LOG_ENTRY_USER] ON [dbo].[SEC_SESSION_LOG]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SESSION_LOG_STARTED_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SESSION_LOG_STARTED_TS] ON [dbo].[SEC_SESSION_LOG]
(
	[STARTED_TS] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_USER__3214EC269F104182]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_USER] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_USER_UNIQ_LOGIN]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SEC_USER_UNIQ_LOGIN] ON [dbo].[SEC_USER]
(
	[LOGIN_LC] ASC,
	[SYS_TENANT_ID] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_USER__3214EC264EBDB308]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_USER_ROLE] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEC_USER_ROLE_UNIQ_ROLE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SEC_USER_ROLE_UNIQ_ROLE] ON [dbo].[SEC_USER_ROLE]
(
	[USER_ID] ASC,
	[ROLE_ID] ASC,
	[ROLE_NAME] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_USER__3214EC267D779A38]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_USER_SETTING] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SEC_USER_SETTING_UNIQ]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_USER_SETTING] ADD  CONSTRAINT [SEC_USER_SETTING_UNIQ] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[NAME] ASC,
	[CLIENT_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SEC_USER__3214EC269A9649E9]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SEC_USER_SUBSTITUTION] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_ATTR__3214EC26F07A9708]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_ATTR_VALUE] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_ATTR_VALUE_IENTITY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_ATTR_VALUE_IENTITY] ON [dbo].[SYS_ATTR_VALUE]
(
	[INT_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_ATTR_VALUE_LENTITY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_ATTR_VALUE_LENTITY] ON [dbo].[SYS_ATTR_VALUE]
(
	[LONG_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_ATTR_VALUE_SENTITY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_ATTR_VALUE_SENTITY] ON [dbo].[SYS_ATTR_VALUE]
(
	[STRING_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_CATEGORY_UNIQ_NAME_ENTITY_TYPE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_SYS_CATEGORY_UNIQ_NAME_ENTITY_TYPE] ON [dbo].[SYS_CATEGORY]
(
	[NAME] ASC,
	[ENTITY_TYPE] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_CATE__3214EC2609C6E4CD]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_CATEGORY_ATTR] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CAT_ATTR_ENT_TYPE_AND_CODE]    Script Date: 15/04/2025 22:19:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_CAT_ATTR_ENT_TYPE_AND_CODE] ON [dbo].[SYS_CATEGORY_ATTR]
(
	[CATEGORY_ENTITY_TYPE] ASC,
	[CODE] ASC,
	[DELETE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_CONF__3214EC263CE565D4]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_CONFIG] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_ENTI__3214EC26BC1DC1A3]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_ENTITY_SNAPSHOT] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_ENTITY_SNAPSHOT_ENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_ENTITY_SNAPSHOT_ENTITY_ID] ON [dbo].[SYS_ENTITY_SNAPSHOT]
(
	[ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_ENTITY_SNAPSHOT_IENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_ENTITY_SNAPSHOT_IENTITY_ID] ON [dbo].[SYS_ENTITY_SNAPSHOT]
(
	[INT_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_ENTITY_SNAPSHOT_LENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_ENTITY_SNAPSHOT_LENTITY_ID] ON [dbo].[SYS_ENTITY_SNAPSHOT]
(
	[LONG_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_ENTITY_SNAPSHOT_SENTITY_ID]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_ENTITY_SNAPSHOT_SENTITY_ID] ON [dbo].[SYS_ENTITY_SNAPSHOT]
(
	[STRING_ENTITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_ENTI__3214EC26CDEF368A]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_ENTITY_STATISTICS] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_FILE__3214EC26987B5E80]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_FILE] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_FTS___3214EC262C179BC8]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_FTS_QUEUE] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_FTS_QUEUE_IDXHOST_CRTS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_FTS_QUEUE_IDXHOST_CRTS] ON [dbo].[SYS_FTS_QUEUE]
(
	[INDEXING_HOST] ASC,
	[CREATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_QUERY_RESULT_ENTITY_SESSION_KEY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_QUERY_RESULT_ENTITY_SESSION_KEY] ON [dbo].[SYS_QUERY_RESULT]
(
	[ENTITY_ID] ASC,
	[SESSION_ID] ASC,
	[QUERY_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_QUERY_RESULT_IENTITY_SESSION_KEY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_QUERY_RESULT_IENTITY_SESSION_KEY] ON [dbo].[SYS_QUERY_RESULT]
(
	[INT_ENTITY_ID] ASC,
	[SESSION_ID] ASC,
	[QUERY_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_QUERY_RESULT_LENTITY_SESSION_KEY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_QUERY_RESULT_LENTITY_SESSION_KEY] ON [dbo].[SYS_QUERY_RESULT]
(
	[LONG_ENTITY_ID] ASC,
	[SESSION_ID] ASC,
	[QUERY_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SYS_QUERY_RESULT_SENTITY_SESSION_KEY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_QUERY_RESULT_SENTITY_SESSION_KEY] ON [dbo].[SYS_QUERY_RESULT]
(
	[STRING_ENTITY_ID] ASC,
	[SESSION_ID] ASC,
	[QUERY_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_QUERY_RESULT_SESSION_KEY]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_QUERY_RESULT_SESSION_KEY] ON [dbo].[SYS_QUERY_RESULT]
(
	[SESSION_ID] ASC,
	[QUERY_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_SCHE__3214EC262604E921]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_SCHEDULED_EXECUTION] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SCHEDULED_EXECUTION_TASK_FINISH_TIME]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_SCHEDULED_EXECUTION_TASK_FINISH_TIME] ON [dbo].[SYS_SCHEDULED_EXECUTION]
(
	[TASK_ID] ASC,
	[FINISH_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SCHEDULED_EXECUTION_TASK_START_TIME]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_SCHEDULED_EXECUTION_TASK_START_TIME] ON [dbo].[SYS_SCHEDULED_EXECUTION]
(
	[TASK_ID] ASC,
	[START_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_SEND__3214EC26E644B031]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_SENDING_ATTACHMENT] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SYS_SENDING_ATTACHMENT_MESSAGE_IDX]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [SYS_SENDING_ATTACHMENT_MESSAGE_IDX] ON [dbo].[SYS_SENDING_ATTACHMENT]
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_SEND__3214EC261922BB41]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_SENDING_MESSAGE] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SENDING_MESSAGE_DATE_SENT]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_SENDING_MESSAGE_DATE_SENT] ON [dbo].[SYS_SENDING_MESSAGE]
(
	[DATE_SENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SENDING_MESSAGE_STATUS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_SENDING_MESSAGE_STATUS] ON [dbo].[SYS_SENDING_MESSAGE]
(
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_SYS_SENDING_MESSAGE_UPDATE_TS]    Script Date: 15/04/2025 22:19:33 ******/
CREATE NONCLUSTERED INDEX [IDX_SYS_SENDING_MESSAGE_UPDATE_TS] ON [dbo].[SYS_SENDING_MESSAGE]
(
	[UPDATE_TS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__SYS_SERV__3214EC26BEB907B8]    Script Date: 15/04/2025 22:19:33 ******/
ALTER TABLE [dbo].[SYS_SERVER] ADD PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SEC_CONSTRAINT] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_CONSTRAINT] ADD  DEFAULT ('db') FOR [CHECK_TYPE]
GO
ALTER TABLE [dbo].[SEC_CONSTRAINT] ADD  DEFAULT ('read') FOR [OPERATION_TYPE]
GO
ALTER TABLE [dbo].[SEC_CONSTRAINT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[SEC_FILTER] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_GROUP] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_LOCALIZED_CONSTRAINT_MSG] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_PERMISSION] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_REMEMBER_ME] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_ROLE] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_SESSION_ATTR] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_SESSION_LOG] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_USER] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_USER_ROLE] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SEC_USER_SUBSTITUTION] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_ATTR_VALUE] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_CATEGORY] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_CATEGORY_ATTR] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_CONFIG] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_DB_CHANGELOG] ADD  DEFAULT (getdate()) FOR [CREATE_TS]
GO
ALTER TABLE [dbo].[SYS_DB_CHANGELOG] ADD  DEFAULT ((0)) FOR [IS_INIT]
GO
ALTER TABLE [dbo].[SYS_FILE] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_FOLDER] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_JMX_INSTANCE] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_SCHEDULED_TASK] ADD  DEFAULT ('B') FOR [DEFINED_BY]
GO
ALTER TABLE [dbo].[SYS_SCHEDULED_TASK] ADD  DEFAULT ('P') FOR [SCHEDULING_TYPE]
GO
ALTER TABLE [dbo].[SYS_SENDING_ATTACHMENT] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[SYS_SENDING_MESSAGE] ADD  DEFAULT ((1)) FOR [VERSION]
GO
ALTER TABLE [dbo].[CLINIC_CITA]  WITH CHECK ADD  CONSTRAINT [FK_CLINIC_CITA_ON_ESPECIALISTA] FOREIGN KEY([ESPECIALISTA_ID])
REFERENCES [dbo].[CLINIC_ESPECIALISTA] ([ID])
GO
ALTER TABLE [dbo].[CLINIC_CITA] CHECK CONSTRAINT [FK_CLINIC_CITA_ON_ESPECIALISTA]
GO
ALTER TABLE [dbo].[CLINIC_CITA]  WITH CHECK ADD  CONSTRAINT [FK_CLINIC_CITA_ON_PACIENTE] FOREIGN KEY([PACIENTE_ID])
REFERENCES [dbo].[CLINIC_PACIENTE] ([ID])
GO
ALTER TABLE [dbo].[CLINIC_CITA] CHECK CONSTRAINT [FK_CLINIC_CITA_ON_PACIENTE]
GO
ALTER TABLE [dbo].[CLINIC_CITA]  WITH CHECK ADD  CONSTRAINT [FK_CLINIC_CITA_ON_SERVICIO] FOREIGN KEY([SERVICIO_ID])
REFERENCES [dbo].[CLINIC_SERVICIO] ([ID])
GO
ALTER TABLE [dbo].[CLINIC_CITA] CHECK CONSTRAINT [FK_CLINIC_CITA_ON_SERVICIO]
GO
ALTER TABLE [dbo].[CLINIC_EXPEDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLINIC_EXPEDIENTE_ON_ESPECIALISTA] FOREIGN KEY([ESPECIALISTA_ID])
REFERENCES [dbo].[CLINIC_ESPECIALISTA] ([ID])
GO
ALTER TABLE [dbo].[CLINIC_EXPEDIENTE] CHECK CONSTRAINT [FK_CLINIC_EXPEDIENTE_ON_ESPECIALISTA]
GO
ALTER TABLE [dbo].[CLINIC_EXPEDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLINIC_EXPEDIENTE_ON_PACIENTE] FOREIGN KEY([PACIENTE_ID])
REFERENCES [dbo].[CLINIC_PACIENTE] ([ID])
GO
ALTER TABLE [dbo].[CLINIC_EXPEDIENTE] CHECK CONSTRAINT [FK_CLINIC_EXPEDIENTE_ON_PACIENTE]
GO
ALTER TABLE [dbo].[SEC_CONSTRAINT]  WITH CHECK ADD  CONSTRAINT [SEC_CONSTRAINT_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[SEC_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SEC_CONSTRAINT] CHECK CONSTRAINT [SEC_CONSTRAINT_GROUP]
GO
ALTER TABLE [dbo].[SEC_ENTITY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_SEC_ENTITY_LOG_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_ENTITY_LOG] CHECK CONSTRAINT [FK_SEC_ENTITY_LOG_USER]
GO
ALTER TABLE [dbo].[SEC_FILTER]  WITH CHECK ADD  CONSTRAINT [FK_SEC_FILTER_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_FILTER] CHECK CONSTRAINT [FK_SEC_FILTER_USER]
GO
ALTER TABLE [dbo].[SEC_GROUP]  WITH CHECK ADD  CONSTRAINT [SEC_GROUP_PARENT] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SEC_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SEC_GROUP] CHECK CONSTRAINT [SEC_GROUP_PARENT]
GO
ALTER TABLE [dbo].[SEC_GROUP_HIERARCHY]  WITH CHECK ADD  CONSTRAINT [SEC_GROUP_HIERARCHY_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[SEC_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SEC_GROUP_HIERARCHY] CHECK CONSTRAINT [SEC_GROUP_HIERARCHY_GROUP]
GO
ALTER TABLE [dbo].[SEC_GROUP_HIERARCHY]  WITH CHECK ADD  CONSTRAINT [SEC_GROUP_HIERARCHY_PARENT] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SEC_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SEC_GROUP_HIERARCHY] CHECK CONSTRAINT [SEC_GROUP_HIERARCHY_PARENT]
GO
ALTER TABLE [dbo].[SEC_LOGGED_ATTR]  WITH CHECK ADD  CONSTRAINT [FK_SEC_LOGGED_ATTR_ENTITY] FOREIGN KEY([ENTITY_ID])
REFERENCES [dbo].[SEC_LOGGED_ENTITY] ([ID])
GO
ALTER TABLE [dbo].[SEC_LOGGED_ATTR] CHECK CONSTRAINT [FK_SEC_LOGGED_ATTR_ENTITY]
GO
ALTER TABLE [dbo].[SEC_PERMISSION]  WITH CHECK ADD  CONSTRAINT [SEC_PERMISSION_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[SEC_ROLE] ([ID])
GO
ALTER TABLE [dbo].[SEC_PERMISSION] CHECK CONSTRAINT [SEC_PERMISSION_ROLE]
GO
ALTER TABLE [dbo].[SEC_PRESENTATION]  WITH CHECK ADD  CONSTRAINT [SEC_PRESENTATION_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_PRESENTATION] CHECK CONSTRAINT [SEC_PRESENTATION_USER]
GO
ALTER TABLE [dbo].[SEC_REMEMBER_ME]  WITH CHECK ADD  CONSTRAINT [FK_SEC_REMEMBER_ME_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_REMEMBER_ME] CHECK CONSTRAINT [FK_SEC_REMEMBER_ME_USER]
GO
ALTER TABLE [dbo].[SEC_SCREEN_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_SEC_HISTORY_SUBSTITUTED_USER] FOREIGN KEY([SUBSTITUTED_USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_SCREEN_HISTORY] CHECK CONSTRAINT [FK_SEC_HISTORY_SUBSTITUTED_USER]
GO
ALTER TABLE [dbo].[SEC_SCREEN_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_SEC_HISTORY_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_SCREEN_HISTORY] CHECK CONSTRAINT [FK_SEC_HISTORY_USER]
GO
ALTER TABLE [dbo].[SEC_SEARCH_FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_SEC_SEARCH_FOLDER_FOLDER] FOREIGN KEY([FOLDER_ID])
REFERENCES [dbo].[SYS_FOLDER] ([ID])
GO
ALTER TABLE [dbo].[SEC_SEARCH_FOLDER] CHECK CONSTRAINT [FK_SEC_SEARCH_FOLDER_FOLDER]
GO
ALTER TABLE [dbo].[SEC_SEARCH_FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_SEC_SEARCH_FOLDER_PRESENTATION] FOREIGN KEY([PRESENTATION_ID])
REFERENCES [dbo].[SEC_PRESENTATION] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SEC_SEARCH_FOLDER] CHECK CONSTRAINT [FK_SEC_SEARCH_FOLDER_PRESENTATION]
GO
ALTER TABLE [dbo].[SEC_SEARCH_FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_SEC_SEARCH_FOLDER_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_SEARCH_FOLDER] CHECK CONSTRAINT [FK_SEC_SEARCH_FOLDER_USER]
GO
ALTER TABLE [dbo].[SEC_SESSION_ATTR]  WITH CHECK ADD  CONSTRAINT [SEC_SESSION_ATTR_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[SEC_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SEC_SESSION_ATTR] CHECK CONSTRAINT [SEC_SESSION_ATTR_GROUP]
GO
ALTER TABLE [dbo].[SEC_SESSION_LOG]  WITH CHECK ADD  CONSTRAINT [FK_SESSION_LOG_ENTRY_SUBUSER] FOREIGN KEY([SUBSTITUTED_USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_SESSION_LOG] CHECK CONSTRAINT [FK_SESSION_LOG_ENTRY_SUBUSER]
GO
ALTER TABLE [dbo].[SEC_SESSION_LOG]  WITH CHECK ADD  CONSTRAINT [FK_SESSION_LOG_ENTRY_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_SESSION_LOG] CHECK CONSTRAINT [FK_SESSION_LOG_ENTRY_USER]
GO
ALTER TABLE [dbo].[SEC_USER]  WITH CHECK ADD  CONSTRAINT [SEC_USER_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[SEC_GROUP] ([ID])
GO
ALTER TABLE [dbo].[SEC_USER] CHECK CONSTRAINT [SEC_USER_GROUP]
GO
ALTER TABLE [dbo].[SEC_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [SEC_USER_ROLE_PROFILE] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_USER_ROLE] CHECK CONSTRAINT [SEC_USER_ROLE_PROFILE]
GO
ALTER TABLE [dbo].[SEC_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [SEC_USER_ROLE_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[SEC_ROLE] ([ID])
GO
ALTER TABLE [dbo].[SEC_USER_ROLE] CHECK CONSTRAINT [SEC_USER_ROLE_ROLE]
GO
ALTER TABLE [dbo].[SEC_USER_SETTING]  WITH CHECK ADD  CONSTRAINT [SEC_USER_SETTING_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_USER_SETTING] CHECK CONSTRAINT [SEC_USER_SETTING_USER]
GO
ALTER TABLE [dbo].[SEC_USER_SUBSTITUTION]  WITH CHECK ADD  CONSTRAINT [FK_SEC_USER_SUBSTITUTION_SUBSTITUTED_USER] FOREIGN KEY([SUBSTITUTED_USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_USER_SUBSTITUTION] CHECK CONSTRAINT [FK_SEC_USER_SUBSTITUTION_SUBSTITUTED_USER]
GO
ALTER TABLE [dbo].[SEC_USER_SUBSTITUTION]  WITH CHECK ADD  CONSTRAINT [FK_SEC_USER_SUBSTITUTION_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SEC_USER_SUBSTITUTION] CHECK CONSTRAINT [FK_SEC_USER_SUBSTITUTION_USER]
GO
ALTER TABLE [dbo].[SYS_APP_FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_SYS_APP_FOLDER_FOLDER] FOREIGN KEY([FOLDER_ID])
REFERENCES [dbo].[SYS_FOLDER] ([ID])
GO
ALTER TABLE [dbo].[SYS_APP_FOLDER] CHECK CONSTRAINT [FK_SYS_APP_FOLDER_FOLDER]
GO
ALTER TABLE [dbo].[SYS_ATTR_VALUE]  WITH CHECK ADD  CONSTRAINT [SYS_ATTR_VALUE_ATTR_VALUE_PARENT_ID] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SYS_ATTR_VALUE] ([ID])
GO
ALTER TABLE [dbo].[SYS_ATTR_VALUE] CHECK CONSTRAINT [SYS_ATTR_VALUE_ATTR_VALUE_PARENT_ID]
GO
ALTER TABLE [dbo].[SYS_ATTR_VALUE]  WITH CHECK ADD  CONSTRAINT [SYS_ATTR_VALUE_CATEGORY_ATTR_ID] FOREIGN KEY([CATEGORY_ATTR_ID])
REFERENCES [dbo].[SYS_CATEGORY_ATTR] ([ID])
GO
ALTER TABLE [dbo].[SYS_ATTR_VALUE] CHECK CONSTRAINT [SYS_ATTR_VALUE_CATEGORY_ATTR_ID]
GO
ALTER TABLE [dbo].[SYS_CATEGORY_ATTR]  WITH CHECK ADD  CONSTRAINT [SYS_CATEGORY_ATTR_CATEGORY_ID] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[SYS_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[SYS_CATEGORY_ATTR] CHECK CONSTRAINT [SYS_CATEGORY_ATTR_CATEGORY_ID]
GO
ALTER TABLE [dbo].[SYS_ENTITY_SNAPSHOT]  WITH CHECK ADD  CONSTRAINT [FK_SYS_ENTITY_SNAPSHOT_AUTHOR_ID] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[SEC_USER] ([ID])
GO
ALTER TABLE [dbo].[SYS_ENTITY_SNAPSHOT] CHECK CONSTRAINT [FK_SYS_ENTITY_SNAPSHOT_AUTHOR_ID]
GO
ALTER TABLE [dbo].[SYS_FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_SYS_FOLDER_PARENT] FOREIGN KEY([PARENT_ID])
REFERENCES [dbo].[SYS_FOLDER] ([ID])
GO
ALTER TABLE [dbo].[SYS_FOLDER] CHECK CONSTRAINT [FK_SYS_FOLDER_PARENT]
GO
ALTER TABLE [dbo].[SYS_SCHEDULED_EXECUTION]  WITH CHECK ADD  CONSTRAINT [SYS_SCHEDULED_EXECUTION_TASK] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[SYS_SCHEDULED_TASK] ([ID])
GO
ALTER TABLE [dbo].[SYS_SCHEDULED_EXECUTION] CHECK CONSTRAINT [SYS_SCHEDULED_EXECUTION_TASK]
GO
ALTER TABLE [dbo].[SYS_SENDING_ATTACHMENT]  WITH CHECK ADD  CONSTRAINT [FK_SYS_SENDING_ATTACHMENT_CONTENT_FILE] FOREIGN KEY([CONTENT_FILE_ID])
REFERENCES [dbo].[SYS_FILE] ([ID])
GO
ALTER TABLE [dbo].[SYS_SENDING_ATTACHMENT] CHECK CONSTRAINT [FK_SYS_SENDING_ATTACHMENT_CONTENT_FILE]
GO
ALTER TABLE [dbo].[SYS_SENDING_ATTACHMENT]  WITH CHECK ADD  CONSTRAINT [FK_SYS_SENDING_ATTACHMENT_SENDING_MESSAGE] FOREIGN KEY([MESSAGE_ID])
REFERENCES [dbo].[SYS_SENDING_MESSAGE] ([ID])
GO
ALTER TABLE [dbo].[SYS_SENDING_ATTACHMENT] CHECK CONSTRAINT [FK_SYS_SENDING_ATTACHMENT_SENDING_MESSAGE]
GO
ALTER TABLE [dbo].[SYS_SENDING_MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_SYS_SENDING_MESSAGE_CONTENT_FILE] FOREIGN KEY([CONTENT_TEXT_FILE_ID])
REFERENCES [dbo].[SYS_FILE] ([ID])
GO
ALTER TABLE [dbo].[SYS_SENDING_MESSAGE] CHECK CONSTRAINT [FK_SYS_SENDING_MESSAGE_CONTENT_FILE]
GO
USE [master]
GO
